<% layout('layouts/boilerplate')%>

<body class="d-flex text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="card m-auto bg-dark shadow" style="width: 18rem">
      <div class="card text-center bg-dark">
        <h3 class="card-header text-light">About</h3>
        <div class="card-body text-light">
          <p class="card-title text-light fw-lighter">Made with:</p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark bg-gradient">
              Embedded JS Templating
            </li>
            <li class="list-group-item bg-dark bg-gradient">NodeJS</li>
            <li class="list-group-item bg-dark bg-gradient">MapBox</li>
            <li class="list-group-item bg-dark bg-gradient">Cloudinary</li>
            <li class="list-group-item bg-dark bg-gradient">ExpressJS</li>
            <li class="list-group-item bg-dark bg-gradient">Helmet</li>
            <li class="list-group-item bg-dark bg-gradient">JOI</li>
            <li class="list-group-item bg-dark bg-gradient">Mongoose</li>
            <li class="list-group-item bg-dark bg-gradient">MongoDB</li>
            <li class="list-group-item bg-dark bg-gradient">Multer</li>
            <li class="list-group-item bg-dark bg-gradient">Passport</li>
            <li class="list-group-item bg-dark bg-gradient">Sanitize</li>
          </ul>
          <a
            href="https://gateway.onestepweb.dev/"
            class="btn btn-dark btn-block border-light"
            >OneStepWeb</a
          >
        </div>
      </div>
    </div>
  </div>
</body>
